@using MauiBlazor.Services
@using Models

@inherits LayoutComponentBase
@layout MainLayout

<CascadingValue Value="this">
    <CascadingValue Value="@ServerDetails">
        <div class="page">
            <div class="sidebar">
                <MauiBlazor.Components.Layout.ServerNavMenu />
            </div>

            <main>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </CascadingValue>
</CascadingValue>

@code
{
    private ServerDetails _serverDetails;
    public ServerDetails ServerDetails
    {
        get => _serverDetails;
        set
        {
            _serverDetails = value;
            StateHasChanged();
        }
    }
}