@using MauiBlazor.Services

@inject IChannelsGateway ChannelsGateway

@if (ServerDetails == null)
{
    <h1>Loading...</h1>
}
else
{
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">@ServerDetails.Name</a>
        </div>
    </div>

    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            @if (Channels == null)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link disabled">
                        <span class="bi" aria-hidden="true"></span> Loading...
                    </NavLink>
                </div>
            }
            else
            {
                @foreach (var channel in Channels)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@($"channel/{ServerDetails.Id}/{channel.Id}")">
                            <span class="bi" aria-hidden="true"></span> @channel.Name
                        </NavLink>
                    </div>
                }
            }
        </nav>
    </div>
}

@code {
    private ServerDetails _serverDetails;
    [CascadingParameter]
    public ServerDetails ServerDetails { get; set; }

    private ChannelDetails[] Channels { get; set; } = [];

    protected override async Task OnParametersSetAsync()
    {
        if (_serverDetails != ServerDetails)
        {
            Channels = [];
            if (ServerDetails != null)
            {
                Channels = await ChannelsGateway.GetChannels(ServerDetails.ChannelIds);
                _serverDetails = ServerDetails;
            }
            StateHasChanged();
        }
    }
}